<header>
    <!-- <div class="pre-header">
        <div class="pr-contact-info">
            <div class="pr-icon"><i class="pi pi-envelope"></i> info@mma.com</div>
            <div class="pr-icon"><i class="pi pi-phone"></i> +233 244123456</div>
        </div>
        <div class="pr-account">
            <div class="pr-icon"><i class="pi pi-user"></i> Login </div>
          </div>
    </div> -->
    <div class="main-header">
      <div class="head-logo">
        <div class="toggle"  (click)="toggleCatOverlay()"><i class="pi pi-bars" style="font-size: 2rem"></i></div>
        <a href=""><img src="assets/img/mma_logo-r.png" alt="mma logo" class="logo"></a>
      </div>

      <p-menu #catmenu [styleClass]="'cat-menu'" [popup]="true" [model]="categoryMenuItems" (onShow)="onToggleCategoryMenu()" (onHide)="onToggleCategoryMenu()"></p-menu>

      <div class="filter-header">
        <!-- <div class="browse-category">
          <span style="cursor: pointer;" (click)="catmenu.toggle($event)">Browse by category <i *ngIf="!showCatMenu" class="pi pi-angle-down browse-category-toggle-icon"></i> <i *ngIf="showCatMenu" class="pi pi-angle-right browse-category-toggle-icon"></i></span>
        </div> -->
        <div class="search-category">
          <app-search-bar></app-search-bar>
        </div>

      </div>

      <div class="accounts">
        <div class="account-header">
          <ul class="navigation">
            <!-- <li><app-search-bar></app-search-bar></li> -->
            <!-- <li><i class="pi pi-phone"></i> +233 244123457</li> -->
            <li *ngIf="loggedIn" class="mn-item acc-menu" (click)="accmenu.toggle($event)"><i class="pi pi-user"></i> Hi {{currentUser?.first_name}} </li>
            <p-menu #accmenu [popup]="true" [model]="accountMenuItems"></p-menu>
            <!-- <button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu> -->
            <li *ngIf="!loggedIn" class="mn-item x-menu"><a (click)="goToPage('login')"> <i class="pi pi-sign-in"></i> Login</a> </li>
            <li *ngIf="!loggedIn" class="mn-item x-menu"><a (click)="goToPage('customer/account/new')"><i class="pi pi-user-plus"></i> Register</a></li>
            <!-- <li class="mn-item"><a (click)="goToPage('customer/account/orders')"><i class="pi pi-inbox"></i> My Orders</a></li> -->
            <!-- <li class="mn-item"><i class="pi pi-heart"></i> My Wishlist</li> -->
            <li *ngIf="!loggedIn" class="mn-item auth-menu" (click)="authmenu.toggle($event)"><i class="pi pi-user"></i></li>
            <p-menu #authmenu [popup]="true" [model]="authMenuItems"></p-menu>
            <li class="mn-item"><i (click)="onViewCart()" class="pi pi-shopping-cart"  pBadge style="font-size: 1.5rem" value="{{totalItemsInCart}}"></i></li>
          </ul>
        </div>

        <!-- <div class="main-header-cart">
          <div class="mh-icon">
              <i (click)="onShowCart()" class="pi pi-shopping-cart"  pBadge style="font-size: 1.5rem" value="{{totalItemsInCart}}"></i>
          </div>

        </div> -->
      </div>


        <!-- <div class="pr-icon"><i class="pi pi-phone"></i> +233 244123457</div> -->







        <!-- <div class="account-header">
            <div (clickOutside)="onClickedOutside($event)" (click)="onToggleAccountNav()" class="account-nav-toggler"><i class="pi pi-user"></i> ACCOUNT <i class="pi pi-caret-right" [style.display]="clickedIn ? 'none' : 'inline-block'"></i> <i class="pi pi-caret-down"  [style.display]="clickedIn ? 'inline-block' : 'none'"></i></div>
            <ul class="account-nav {{AccountNavClass}}">
                <li><i class="pi pi-sign-in"></i><a (click)="onFilterCategory('BP')">Sign In</a> </li>
                <li><i class="pi pi-user-plus"></i> Create An Account</li>
                <li><i class="pi pi-inbox"></i> Your Orders</li>
                <li><i class="pi pi-heart"></i> Your Wishlist</li>
            </ul>
        </div> -->


    </div>
    <div class="search-category search-ss">
      <app-search-bar></app-search-bar>
    </div>




    <!-- <div class="menu-header">
        <ul class="navigation">
            <li class="mn-item {{activeLabelBP}}"><a (click)="beautyOverlay = true">Beauty & Personal Care</a></li>
            <li class="mn-item {{activeLabelFG}}"><a (click)="foodOverlay = true">Food & Groceries</a></li>
            <li class="mn-item {{activeLabelCF}}"><a (click)="fashionOverlay = true">Clothing & Fashion</a></li>
        </ul>
    </div> -->
</header>
<p-dialog header="SHOPPING CART" [(visible)]="displayDialog" [position]="'right'" [modal]="true" [style]="{width: '25vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">


        <div *ngFor="let product of products">
            <app-mini-cart-items [product]="product"></app-mini-cart-items>
        </div>



        <ng-template pTemplate="footer">
            <button style="width: 100%;border-radius: 30px;" pButton type="button" label="VIEW CART" icon="pi pi-eye" (click)="onViewCart()"></button>
            <!-- <button style="width: 100%; margin-top: 10px;" pButton type="button" label="PROCEED TO CHECKOUT" icon="pi pi-check"></button> -->
            <!-- <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button> -->
        </ng-template>
</p-dialog>

<p-sidebar [(visible)]="showCatOverlay" position="left" [baseZIndex]="10000" [showCloseIcon]="false" styleClass="p-sidebar-sm">
  <div class="head-logo">
    <div class="toggle"  (click)="toggleCatOverlay()"><i class="pi pi-bars" style="font-size: 2rem"></i></div>
    <a href=""><img src="assets/img/mma_logo-r.png" alt="mma logo" class="logo"></a>
  </div>

  <div class="cat-overlay-menu">
    <p><a (click)="onFilterCategory('1')">Beauty & Personal Care</a></p>
    <p><a (click)="onFilterCategory('2')">Food & Groceries</a></p>
    <p><a (click)="onFilterCategory('3')">Clothing & Fashion</a></p>
    <hr *ngIf="auth.isAdmin()" />
    <p *ngIf="auth.isAdmin()"><a routerLink="admin/product-manager">Product Manager</a></p>
    <!-- <p><a [routerLink]="['products']" [queryParams]="{ cat: 3 }">Clothing & Fashion</a></p> -->
  </div>

</p-sidebar>


<p-sidebar [(visible)]="beautyOverlay" position="top" [baseZIndex]="10000" [style]="{height:'20em'}">
    <div class="overlay-content">
        <div class="overlay-content-title">
            Beauty & Personal Care
        </div>
        <div class="overlay-content-body">
            <p><a routerLink="/creams"></a>Creams</p>
            <p><a routerLink="/soaps"></a>Soaps</p>
            <p (click)="onFilterCategory('1')"> Oils </p>
        </div>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="foodOverlay" position="top" [baseZIndex]="10000" [style]="{height:'20em'}">
    <div class="overlay-content">
        <div class="overlay-content-title">
            Food & Groceries
        </div>
        <div class="overlay-content-body">
            <p>Vegetables</p>
            <p>Drinks</p>
            <p>Dairy</p>
            <p>Meat</p>
        </div>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="fashionOverlay" position="top" [baseZIndex]="10000" [style]="{height:'20em'}">
    <div class="overlay-content">
        <div class="overlay-content-title">
            Clothing & Fashion
        </div>
        <div class="overlay-content-body">

            <p>Trousers</p>
            <p>Shirts</p>
            <p>Skirts</p>
            <p>Shoes</p>
        </div>
    </div>
</p-sidebar>
