<header>
    <!-- <div class="pre-header">
        <div class="pr-contact-info">
            <div class="pr-icon"><i class="pi pi-envelope"></i> info@mma.com</div> 
            <div class="pr-icon"><i class="pi pi-phone"></i> +233 244123456</div>
        </div>
        <div class="pr-account">
            <div class="pr-icon"><i class="pi pi-user"></i> Login </div>
          </div>
    </div> -->
    <div class="main-header">
        <div class="toggle" (click)="onToggle()"><i class="pi pi-bars" style="font-size: 2rem"></i></div>
        <a href=""><img src="assets/img/mma_logo-r.png" alt="mma logo" class="logo"></a>

        <div class="pr-icon"><i class="pi pi-phone"></i> +233 244123456</div>
        
        

        <div class="account-header">
            <ul class="navigation">
                <li *ngIf="loggedIn" class="mn-item" (click)="accmenu.toggle($event)"><i class="pi pi-user"></i> Hi {{currentUser?.FirstName}} </li>
                <p-menu #accmenu [popup]="true" [model]="accountMenuItems"></p-menu>
                <!-- <button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
                <p-menu #menu [popup]="true" [model]="items"></p-menu> -->
                <li *ngIf="!loggedIn" class="mn-item"><a (click)="goToPage('login')"> <i class="pi pi-sign-in"></i> Login</a> </li>
                <li *ngIf="!loggedIn" class="mn-item"><a (click)="goToPage('register')"></a><i class="pi pi-user-plus"></i> Register</li>
                <li class="mn-item"><i class="pi pi-inbox"></i> My Orders</li>
                <li class="mn-item"><i class="pi pi-heart"></i> My Wishlist</li>
            </ul>
        </div>

        

        <!-- <div class="account-header">
            <div (clickOutside)="onClickedOutside($event)" (click)="onToggleAccountNav()" class="account-nav-toggler"><i class="pi pi-user"></i> ACCOUNT <i class="pi pi-caret-right" [style.display]="clickedIn ? 'none' : 'inline-block'"></i> <i class="pi pi-caret-down"  [style.display]="clickedIn ? 'inline-block' : 'none'"></i></div>
            <ul class="account-nav {{AccountNavClass}}">
                <li><i class="pi pi-sign-in"></i><a (click)="onFilterCategory('BP')">Sign In</a> </li>
                <li><i class="pi pi-user-plus"></i> Create An Account</li>
                <li><i class="pi pi-inbox"></i> Your Orders</li>
                <li><i class="pi pi-heart"></i> Your Wishlist</li>
            </ul>
        </div> -->

        <div class="main-header-cart">
            <div class="mh-icon">
                <i (click)="onShowCart()" class="pi pi-shopping-cart"  pBadge style="font-size: 2rem" value="{{totalItemsInCart}}"></i>
            </div>
            <!-- <div class="main-header-cart-info">
                GHS 0.00
            </div> -->
        </div>
    </div>

    <app-search-bar></app-search-bar>      
    
    <div class="menu-header">
        <ul class="navigation">
            <li class="mn-item {{activeLabelBP}}"><a (click)="beautyOverlay = true">Beauty & Personal Care</a></li>
            <li class="mn-item {{activeLabelFG}}"><a (click)="foodOverlay = true">Food & Groceries</a></li>
            <li class="mn-item {{activeLabelCF}}"><a (click)="fashionOverlay = true">Clothing & Fashion</a></li>
        </ul>
    </div>
</header>
<p-dialog header="SHOPPING CART" [(visible)]="displayDialog" [position]="'right'" [modal]="true" [style]="{width: '25vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
        
        
        <div *ngFor="let product of products">
            <app-mini-cart-items [product]="product"></app-mini-cart-items>
        </div>      
            
        
        
        <ng-template pTemplate="footer">
            <button style="width: 100%;border-radius: 30px;" pButton type="button" label="VIEW CART" icon="pi pi-eye" (click)="onViewCart()"></button>
            <!-- <button style="width: 100%; margin-top: 10px;" pButton type="button" label="PROCEED TO CHECKOUT" icon="pi pi-check"></button> -->
            <!-- <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button> -->
        </ng-template>
</p-dialog>

<p-sidebar [(visible)]="beautyOverlay" position="top" [baseZIndex]="10000" [style]="{height:'20em'}">
    <div class="overlay-content">
        <div class="overlay-content-title">
            Beauty & Personal Care
        </div>
        <div class="overlay-content-body">
            <p><a routerLink="/creams"></a>Creams</p> 
            <p><a routerLink="/soaps"></a>Soaps</p> 
            <p (click)="onFilterCategory('1')"> Oils </p>                     
        </div>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="foodOverlay" position="top" [baseZIndex]="10000" [style]="{height:'20em'}">
    <div class="overlay-content">
        <div class="overlay-content-title">
            Food & Groceries
        </div>
        <div class="overlay-content-body">
            <p>Vegetables</p>
            <p>Drinks</p>
            <p>Dairy</p>            
            <p>Meat</p>
        </div>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="fashionOverlay" position="top" [baseZIndex]="10000" [style]="{height:'20em'}">
    <div class="overlay-content">
        <div class="overlay-content-title">
            Clothing & Fashion
        </div>
        <div class="overlay-content-body">
            
            <p>Trousers</p>
            <p>Shirts</p>
            <p>Skirts</p>
            <p>Shoes</p>
        </div>
    </div>
</p-sidebar>
