<footer class="footer">
    <!-- <div class="footer-items"> -->
        <div class="top">
            <a href="#"><img src="assets/img/mma_logo-r.png" alt="mma logo" class="logo"></a>
        </div>
        <div class="mid">
            <div class="about">
                <h3>About Us</h3>
                <p>About the company</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
            </div>
            <div class="help">
                <h3>Help</h3>
                <p>How to buy</p>
                <p>Shipping</p>
                <p>FAQ</p>
                <p>Cancellations & Returns</p>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <p class="pr-icon"><i class="pi pi-phone"></i> +233 244123456</p>
                <p class="pr-icon"><i class="pi pi-envelope"></i> info@mma.com</p>
                <p class="pr-icon"><i class="pi pi-facebook"></i> <i class="pi pi-twitter"></i> <i class="pi pi-youtube"></i></p>
            </div>
            <div class="payment-options">
                <h3>Payment Options</h3>
                
                <div class="payment-options-items">
                    <div><img src="assets/img/visa.png" alt="" title="Pay with visa card"></div>
                    <div><img src="assets/img/mtn.png" alt="" title="Pay with Momo"></div>
                    <div><img src="assets/img/cash-payment.png" title="Pay on delivery" alt="" width="35px"></div>
                </div>
                
            </div>
        </div>
        <div class="bottom"></div>
    <!-- </div> -->
    
</footer>
