.container {
  margin: 30px 200px;
  min-height: 90vh;
}

.page-title{
  display: flex;
  justify-content: space-between;
}

.content{
  display: flex;
  justify-content: space-between;
}

h1{
  color: #FFC107;
}

