<div class="container">
    <div class="product-info" *ngIf="product">
        <div class="product-image">
            <img [src]="product.ProductImages[0]?.ImageUrl"/>
        </div>
        <div class="product-carting">
            <div class="product-main-data">
                <div class="product-name">{{product.Name}} </div>
                <p class="desc">{{product.Description}}</p>

                <p class="product-price">GHS {{product.Price}}</p>

                <!-- <div class="wr-qty-carting">
                    <div class="product-qty">
                        <label for="horizontal">Quantity</label>
                        <p-inputNumber [(ngModel)]="qty" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" size="1" min="1"
                        decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal">
                        </p-inputNumber>
                    </div>


                </div> -->
                <p-button (click)="onAddToCart(product)" type="button" label="Add to cart" icon="pi pi-shopping-cart"></p-button>
                <p-progressSpinner *ngIf="loading" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>

            </div>


            <!-- <div class="product-extra-data">
                <p-tabView>
                    <p-tabPanel header="Description">
                       Product description here
                    </p-tabPanel>
                    <p-tabPanel header="Reviews(0)">
                        Reviews here
                    </p-tabPanel>

                </p-tabView>
            </div> -->

        </div>
    </div>
</div>
