.container {
    margin: 30px 200px;
    min-height: 90vh;
}

.product-info {
    display: flex;
}

.product-image {
    width: 50%;
}

.product-carting {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.product-main-data h2{
    color: #7F2613;
}

.product-name{
    font-size: 1.5rem;
}

.product-price {
    margin-top: 40px;
    color: #FFC107;
    font-size: 2.5rem;
    font-weight: 600;
}

.wr-qty-carting {
    margin-top: 20px;
    display: flex;
}

.product-qty {
    margin-right: 10px;
}

.product-extra-data {
    margin-top: 25px;
}

:host ::ng-deep .p-button {
  border-radius: 30px;
}

.desc{
  padding-top: 10px;
  text-align: justify;
}

@media (max-width: 991px) {
  .container{
    margin: 0;
    padding: 10px;
  }

  .product-info {
    flex-direction: column;
  }

  .product-image {
    width: 100%;
  }

  .product-image img{
    width: inherit;
  }

  .product-carting{
    padding: 10px;
  }
}
