.container {
    margin: 30px 200px;
    height: 100vh;
}

.page-label {
    color: #FFC107; //#7F2613;
    // padding: 50px 0;
}

.cart-info {
    display: flex;
    justify-content: space-between;
}

.cart-items {
    width: 70%;
}

.side-cart-info{
    display: flex;
    flex-direction: column;
    width: 28%;
}

.cart-total-summary {
    // width: 300px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #85929E;
    // height: 250px;
    border-top: 5px solid #FFC107;
    margin-top: 80px;
    margin-bottom: 50px;
}

.spinner{
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cart-total-summary .title {
    text-align: center;
    font-weight: 600;
    color: #FFC107;
    margin-bottom: 20px;
}

.pi {
    margin-right: 10px;
}
.coupon-box .pi:hover{
    color: #FFC107;
    cursor: pointer;
}
.coupon-box{
    display: flex;
    width: 70%;
    margin-top: 20px;
}

:host ::ng-deep .p-inputtext{
    width: 100%;
    border-radius: 30px;
    height: 30px;
}

:host ::ng-deep .p-tooltip{
    background: red;
}

:host ::ng-deep .p-tooltip-text{
    color: yellow
}

// .cart-total-summary {
//     display: flex;
//     flex-direction: column;
//     color: lightslategrey;
// }

// .sub-total, .shipping, .total {
//     display: flex;
//     justify-content: space-between;
//     padding: 20px;
// }

.shipping .right-value{
    font-size: .7rem;
}



.total .right-value {
    color: #FFC107;
    font-size: 1.5rem;
    font-weight: 500;
}

table {
    //font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    //border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

//   tr:nth-child(even) {
//     background-color: #dddddd;
//   }

  .cts-price {
      text-align: right;
  }

  :host ::ng-deep .p-datatable .p-datatable-header{
      background: none;
      border: none;
      padding-left: 0;
  }



//   :host ::ng-deep .p-datatable-scrollable-header, :host ::ng-deep.p-datatable-scrollable-header-box{
//       background: #fff;
//   }

  :host ::ng-deep .p-datatable-scrollable-wrapper{
    border-top: 5px solid #FFC107;
  }

  .qty-changer{
      background: #FFC107;
    //   border-radius: 50%;
      padding: 5px;
      line-height: 3;
      font-size: .7rem;
      font-weight: 500;
      cursor: pointer;
  }

  .qty-changer .rt{
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
  }

  .qty-changer .lt{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
