<div class="container">
    

    <div class="cart-info">
        <div class="cart-items">
            <p-table [value]="products" [scrollable]="true" scrollHeight="400px">
                <ng-template pTemplate="caption">
                    <h1 class="page-label"><i class="pi pi-shopping-cart" style="font-size: 2rem"></i> My Shopping Cart</h1>
                </ng-template>
                <!-- <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Products
                        <p-button icon="pi pi-refresh"></p-button>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td><img [src]="product.image" [alt]="product.name" width="100"  /></td>
        
                        <td>{{product.name}}</td>
                        <td>{{product.price | currency:'GHS '}}</td>
                        <!-- <td>{{product.category}}</td> -->
                        <td>{{product.quantity}}</td>
                        <td>GHS {{product.price * product.quantity}}</td>
                        <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                        <!-- <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <!-- In total there are {{products ? products.length : 0 }} products. -->
                    </div>
                </ng-template>
            </p-table>

            <div class="coupon-box">
                
                    <span class="p-input-icon-right" style="width: 100%;">
                        <!-- <i class="pi pi-check-circle" pTooltip="Apply coupon"></i> -->
                        <input type="text" pInputText class="p-inputtext-sm"  placeholder="Enter coupon code"/>
                    </span>                                
                
                <button style="border-radius: 30px; height: 30px;width: 50%;" pButton styleClass="p-button-sm" label="Apply Coupon" icon="pi pi-check-circle"></button>
            </div>
        </div>

        <div class="side-cart-info">
            <div class="cart-total-summary">
                <div class="title"><i class="pi pi-money-bill"></i>CART TOTALS</div> 
                <table>
                    <tr>
                        <td>Sub Total</td>
                        <td class="cts-price">GHS {{subTotal}}</td>
                    </tr>
                    <!-- <tr>
                        <td>Shipping</td>
                        <td class="cts-price">{{shipping}}</td>
                    </tr> -->
                    
                    <tr class="total">
                        <td>Total</td>
                        <td class="cts-price right-value">GHS {{total}}</td>
                    </tr>
                    
                </table>
                <button style="width: 100%; border-radius: 30px;" styleClass="p-button-sm" pButton type="button" (click)="checkout()" label="PROCEED TO CHECKOUT" icon="pi pi-check-square"></button>
            </div>

            <!-- <div class="coupon-box">
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="checked" binary="true" inputId="binary"></p-checkbox>
                    <label for="binary">I have a coupon code</label>
                </div>

                <div>
                    <input id="coupon" type="text" pInputText placeholder="Coupon code"> 
                </div>
                <!-- 
                <button pButton pRipple type="button" label="Apply Coupon"></button> -->
                
            

            <!-- <button style="width: 100%;" pButton type="button" label="PROCEED TO CHECKOUT" icon="pi pi-check"></button> -->
        </div>

        
        

        <!-- <div class="cart-total-summary">
            CART TOTALS
            <div class="sub-total">
                <div>Sub total</div>
                <div class="right-value">1255</div>
            </div>
            <div class="shipping">
                <div>Shipping</div>
                <div class="right-value">Free shipping to accra</div>
            </div>
            <div class="total">
                <div>Total</div>
                <div class="right-value">GHS 5500</div>
            </div>
            <button style="width: 100%; margin-top: 10px;" pButton type="button" label="PROCEED TO CHECKOUT" icon="pi pi-check"></button>

        </div> -->
    </div>
    
</div>
