<div class="container">


    <div class="cart-info">
        <div class="cart-items">
            <p-table [value]="products" [scrollable]="true" scrollHeight="400px">
                <ng-template pTemplate="caption">
                    <h1 class="page-label"><i class="pi pi-shopping-cart" style="font-size: 2rem"></i> My Shopping Cart</h1>
                </ng-template>
                <!-- <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Products
                        <p-button icon="pi pi-refresh"></p-button>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                  <tr>

                      <th>Product</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Subtotal</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td><img [src]="product.ImageUrl" [alt]="product.ProductName" width="100"  /></td>

                        <td>{{product.ProductName}}</td>
                        <td>{{product.UnitPrice | currency:'GHS '}}</td>
                        <!-- <td>{{product.category}}</td> -->
                        <td>
                            <span class="qty-changer" (click)="modifyQty(product, -1)">-</span>
                            <span style="padding: 5px">{{product.Quantity}}</span>
                            <span class="qty-changer" (click)="modifyQty(product, 1)">+</span>
                        </td>
                        <td>GHS {{product.UnitPrice * product.Quantity}}</td>
                        <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                        <!-- <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <!-- In total there are {{products ? products.length : 0 }} products. -->
                    </div>
                </ng-template>


            </p-table>
            <div class="spinner" *ngIf="loadingCartItems">
              <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
            </div>

            <div *ngIf="products?.length == 0" class="empty-cart">
              Cart is empty! <a routerLink="/"> Continue shopping </a>
            </div>

            <!-- <div class="coupon-box">

                    <span class="p-input-icon-right" style="width: 100%;">
                        <input type="text" pInputText class="p-inputtext-sm"  placeholder="Enter coupon code"/>
                    </span>

                <button style="border-radius: 30px; height: 30px;width: 50%;" pButton styleClass="p-button-sm" label="Apply Coupon" icon="pi pi-check-circle"></button>
            </div> -->
            <button *ngIf="products?.length > 0" (click)="emptyCart()" class="p-button-danger" style="border-radius: 30px; height: 30px;margin-top: 5px;" pButton styleClass="p-button-sm" label="Empty Cart" icon="pi pi-trash"></button>

        </div>

        <div *ngIf="products?.length > 0" class="side-cart-info">
            <div class="cart-total-summary">
                <div class="title"><i class="pi pi-money-bill"></i>CART TOTALS</div>
                <table *ngIf="!loadingCartSummary">
                    <tr>
                        <td>Sub Total</td>
                        <td class="cts-price">GHS {{subTotal}}</td>
                    </tr>
                    <!-- <tr>
                        <td>Shipping</td>
                        <td class="cts-price">{{shipping}}</td>
                    </tr> -->

                    <tr class="total">
                        <td>Total</td>
                        <td class="cts-price right-value">GHS {{total}}</td>
                    </tr>



                </table>
                <div class="spinner" *ngIf="loadingCartSummary">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
                </div>
                <small style="font-size: .6rem; font-style: italic;">* Total price not including shipping & handling</small>

                <button style="width: 100%; border-radius: 30px;" styleClass="p-button-sm" pButton type="button" (click)="checkout()" label="PROCEED TO CHECKOUT" icon="pi pi-check-square"></button>
            </div>

            <!-- <div class="coupon-box">
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="checked" binary="true" inputId="binary"></p-checkbox>
                    <label for="binary">I have a coupon code</label>
                </div>

                <div>
                    <input id="coupon" type="text" pInputText placeholder="Coupon code">
                </div>
                <!--
                <button pButton pRipple type="button" label="Apply Coupon"></button> -->



            <!-- <button style="width: 100%;" pButton type="button" label="PROCEED TO CHECKOUT" icon="pi pi-check"></button> -->
        </div>




        <!-- <div class="cart-total-summary">
            CART TOTALS
            <div class="sub-total">
                <div>Sub total</div>
                <div class="right-value">1255</div>
            </div>
            <div class="shipping">
                <div>Shipping</div>
                <div class="right-value">Free shipping to accra</div>
            </div>
            <div class="total">
                <div>Total</div>
                <div class="right-value">GHS 5500</div>
            </div>
            <button style="width: 100%; margin-top: 10px;" pButton type="button" label="PROCEED TO CHECKOUT" icon="pi pi-check"></button>

        </div> -->
    </div>

</div>
