<div class="container">
    <div class="page-title">
        <h1>Login to continue shopping</h1>
    </div>
    <div class="content">


        <div class="login-form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="p-field">
                    <label class="c-label" for="Username">Email / Phone</label>
                    <input class="c-input" type="text" formControlName="username" pInputText />
                    <span *ngIf="submitted && form.controls.username.errors?.required" style="color: red; font-size: .7rem;">Email/Phone is required</span>
                </div>
                <div class="p-field">
                    <label class="c-label" for="Password">Password</label>
                    <p-password class="c-input" id="password" type="password" formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>
                    <span *ngIf="submitted && form.controls.password.errors?.required" style="color: red; font-size: .7rem;">Password is required</span>
                    <!-- <input class="c-input" type="password" formControlName="password" pPassword [feedback]="false" [toggleMask]="true" /> -->
                </div>
                <button [disabled]="loading" style="border-radius: 30px;" styleClass="p-button-sm" pButton type="submit" label="LOGIN" icon="pi pi-sign-in"></button>
                <p-progressSpinner *ngIf="loading" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>

                <div style="padding-top: 10px;">
                    <small>Don't have an account? Click <a routerLink="/customer/account/new">here</a> to create one and continue shopping</small>
                </div>

            </form>
        </div>
    </div>
</div>
