.container{
    margin: 30px 200px;
    height: 100vh;

}

h1{
    padding: 10px;
    color: #FFC107;
}

.content{
    background: #FFF;//FCFBF8;
    border-radius: 10px;
    color: #75757A;//85929E;
}

table{
    width: 100%;
    padding: 10px;
}

tr{
    height: 50px;
}

.btn-pay{
    background: #FFC107;
}

button{
    background: #FFC107;
    border-radius: 30px;
    margin-right: 5px;
}

.btns-group{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.pay-options{
  margin-top: 5px;
}

@media (max-width: 991px) {
  .container{
    margin: 0;
    padding: 10px;
  }

  .btns-group{
    flex-direction: column;
  }

  button{
    margin-bottom: 10px;
  }
}
