// body {
//     padding: 2em;
//     font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
//   }
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FFC107 #959491 ;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #959491;//#ffc800;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FFC107;
    border-radius: 20px;
    border: 3px solid #FFC107;
  }

  body{
    font-size: .875rem;
    min-height: 100%;
    // min-width: 950px;
    background-color: #f5f5f5;
  }

  .x-pill{
    width: fit-content;
    border-radius: 10rem;
    font-weight: 600;
    padding: 5px;
    font-size: .675rem;
  }

  .success-pill{
    color: #FFF;
    background: lightgreen;
  }

  .warning-pill{
    background: lightsalmon;
    color: #7F2613;
  }

  .info-pill{
    background: lightskyblue;
    color: #FFF;
  }
