<div class="container">
    <!-- <div class="page-title">
        <h1>My Orders</h1>
    </div> -->
    <div class="content">

        <p-dataView #dv [value]="orders" [paginator]="true" [rows]="9" filterBy="name"
            [sortField]="sortField" [sortOrder]="sortOrder">

            <!-- <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Status" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                    </span>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template> -->

            <ng-template let-order pTemplate="listItem">
                <div class="p-col-12">
                    <div  class="product-list-item">
                      <div class="order-item-wrapper">
                        <div class="order-item">
                          <img [src]="order.ImageUrl" [alt]="order.ProductName"/>
                          <div class="order-item-details">
                            <p>{{order.ProductName}}</p>
                            <p>Order# {{order.OrderId}}</p>
                            <p>On {{order.DateCreated | date}}</p>
                            <p *ngIf="order?.Status === 'PENDING'" class="x-pill warning-pill"> PENDING PAYMENT </p>
                            <p *ngIf="order?.Status === 'AWAITING SHIPMENT'" class="x-pill info-pill"> AWAITING SHIPMENT </p>
                            <p *ngIf="order?.Status === 'COMPLETED'" class="x-pill success-pill"> DELIVERED </p>

                            <!-- <p-tag *ngIf="order.Status === 'AWAITING SHIPMENT'" severity="info" value="AWAITING SHIPMENT" [rounded]="true"></p-tag>
                            <p-tag *ngIf="order.Status === 'SHIPPED'" severity="warning" value="SHIPPED" [rounded]="true"></p-tag>
                            <p-tag *ngIf="order.Status === 'CANCELLED'" severity="danger" value="CANCELLED" [rounded]="true"></p-tag>
                            <p-tag *ngIf="order.Status === 'COMPLETED'" severity="success" value="DELIVERED" [rounded]="true"></p-tag>
                            <p-tag *ngIf="order.Status === 'PENDING'" severity="danger" value="PENDING" [rounded]="true"></p-tag> -->

                          </div>
                        </div>

                        <div>
                          <p (click)="onViewOrderDetail(order.OrderId)" class="el-view">VIEW DETAILS</p>
                        </div>

                      </div>
                        <!-- <img [src]="product.ProductImages[0].ImageUrl" [alt]="product.Name" (click)="onViewDetails(product.Id)"/>                         -->
                        <!-- <div class="product-list-detail"> -->
                            <!-- <div class="product-name">{{order.ProductName}}</div> -->
                            <!-- <div class="product-description">{{product.description}}</div> -->
                            <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                            <!-- <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.CategoryId}}</span> -->
                        <!-- </div> -->
                        <div class="product-list-action">
                            <!-- <span class="product-price"> {{order.UnitPrice}}</span> -->
                            <!-- <p-button (click)="onAddToCart(product)" class="btn-shopping-cart" icon="pi pi-shopping-cart" label="Add to Cart"></p-button> -->
                            <!-- <p-button (click)="onAddToCart(product)" class="btn-shopping-cart" icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button> -->
                            <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                        </div>
                    </div>
                </div>
            </ng-template>

        </p-dataView>

    </div>
</div>
