.container{
    margin: 0 200px;
    height: 100vh;
}

.content{
    display: flex;
    justify-content: space-between;
}

.panel {
    width: 350px;
}

.orders-tbl{
    font-size: .8rem;
    width: 100%;
    // padding: 2px;
}

// table{
//     width: 100%;
//     padding: 10px;
// }

tr{
    height: 30px;
}

:host ::ng-deep .p-tag{
    font-size: .5rem;
}