<div class="container">
  <div class="wrapper">
    <div class="side">
      <ul>
        <li (click)="view('Account Overview')"><i class="pi pi-user"></i>  My Account</li>
        <li (click)="view('My Orders')"><i class="pi pi-inbox"></i> My Orders</li>
        <li (click)="view('My Wishlist')"><i class="pi pi-heart"></i> My Wishlist</li>
      </ul>
    </div>

    <div class="main">
      <div class="title">{{title}}</div>
      <div class="body">
        <div *ngIf="showAccountView" class="account-info">
          <div class="more-info-section">
            <div class="info">
              <div class="title">
                ACCOUNT DETAILS
                <span class="edit-btn" (click)="editAccountDetails()"><i class="pi pi-pencil"></i></span>
                <!-- <button icon="pi pi-pencil" pButton pRipple type="button" class="p-button-rounded p-button-text" (click)="editAccountDetails()"></button> -->
              </div>
              <div class="content">
                {{customer.FirstName}} {{customer.LastName}}

                <div class="summary">

                  <p>{{customer.Email}}</p>
                  <p>{{customer.Phone}}</p>
                </div>

                <div class="pwd">
                  <p>Change Password</p>
                </div>

              </div>
            </div>
            <div class="info">
              <div class="title">
                ADDRESS BOOK
                <div>
                  <span *ngIf="customer?.UserAddresses?.length > 0" style="padding-right: 5px;" class="edit-btn" (click)="menu.toggle($event)"><i class="pi pi-pencil"></i></span>
                  <span class="edit-btn" (click)="toggleAddAddressModal()"><i class="pi pi-plus"></i></span>
                </div>
              </div>
              <div class="content">
                <div>
                  <!-- <p>Default shipping address:</p> -->

                  <div class="summary">
                    <div *ngIf="customer?.UserAddresses?.length > 0">
                      <div>
                        <p>Your default shipping address:</p>

                        <small>{{customer?.UserAddresses[0]?.Description}}</small><br/>
                        <small>{{customer?.UserAddresses[0]?.StreetAddress}}</small><br/>
                        <small>{{customer?.UserAddresses[0]?.City}}, {{customer?.UserAddresses[0]?.Region}}</small>
                      </div>

                      <div class="alt-address" *ngFor="let address of customer?.UserAddresses">
                        <div *ngIf="!address.IsDefault">
                          <p>Your alternative shipping address:</p>

                          <small>{{address.Description}}</small><br/>
                          <small>{{address.StreetAddress}}</small><br/>
                          <small>{{address.City}}, {{address.Region}}</small><span>Set as default </span>
                        </div>

                      </div>

                    </div>
                    <div *ngIf="customer?.UserAddresses?.length == 0">
                        <p>No default shipping address set. Click on the plus sign to add address</p>
                    </div>
                  </div>

                </div>
            </div>
          </div>
        </div>
        </div>
        <app-customer-orders *ngIf="showOrdersView" (viewOrderDetail)="onViewOrderDetail($event)"></app-customer-orders>
        <app-customer-order-details *ngIf="showOrderDetailView" [OrderId]="orderIdToView"></app-customer-order-details>
        <app-customer-wishlist *ngIf="showWishlistView"></app-customer-wishlist>

      </div>
    </div>
  </div>
    <!-- <div class="page-title">
        <h1>Account Overview</h1>
    </div>

    <div class="content">
        <div class="panel">
            <p-panel header="ACCOUNT DETAILS">
                <ng-template pTemplate="icons">
                        <button icon="pi pi-pencil" pButton class="p-panel-header-icon p-link" (click)="editAccountDetails()">

                        </button>
                </ng-template>
                <div>
                    <p>{{customer.FirstName}} {{customer.LastName}}</p>
                    <p>{{customer.Email}}</p>
                    <p>{{customer.Phone}}</p>
                </div>

                <div class="pwd">
                  <p>Change Password</p>
                </div>
            </p-panel>
        </div>

        <div class="panel">
            <p-panel header="ADDRESS BOOK">
                <ng-template pTemplate="icons">
                        <button icon="pi pi-pencil" pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)"></button>
                        <button icon="pi pi-plus" pButton class="p-panel-header-icon p-link" (click)="toggleAddAddressModal()"></button>

                </ng-template>
                <div *ngIf="customer?.UserAddresses?.length > 0">
                    <p>Your default shipping address:</p>

                    <small>{{customer?.UserAddresses[0]?.Description}}</small><br/>
                    <small>{{customer?.UserAddresses[0]?.StreetAddress}}</small><br/>
                    <small>{{customer?.UserAddresses[0]?.City}}, {{customer?.UserAddresses[0]?.Region}}</small>
                </div>
                <div *ngIf="customer?.UserAddresses?.length == 0">
                    <p>No default shipping address set. Click on the plus sign to add address</p>
                </div>
            </p-panel>
        </div>

        <div class="overview-slate yellow-slate">
          <div class="overview-header">
            <div class="title">ORDERS</div>
            <div class="extra">View All</div>
          </div>
          <div class="overview-body">2</div>
          <div class="overview-footer">Awaiting Shipment</div>
        </div>

        <div class="panel">
            <p-panel header="MY ORDERS">
                <ng-template pTemplate="icons">
                        <button icon="pi pi-pencil" pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)"></button>
                        <button icon="pi pi-plus" pButton class="p-panel-header-icon p-link" (click)="toggleAddAddressModal()"></button>

                </ng-template>
                <div>
                    <table class="orders-tbl" *ngIf="orders">
                        <tr>
                            <td>DATE</td>
                            <td style="text-align: center;">ORDER #</td>
                            <td style="text-align: center;">STATUS</td>
                        </tr>
                        <tr *ngFor="let order of orders">
                            <td>{{order.DateCreated | date}}</td>
                            <td style="text-align: center;">{{order.Id}}</td>
                            <td style="text-align: center;">
                                <p-tag styleClass="p-mr-2" value="Primary" [rounded]="true"></p-tag>
                                <button *ngIf="order.Status == 5" pButton pRipple type="button" label="Primary" class="p-button-outlined p-button-rounded p-button-success"></button>
                                <p-tag *ngIf="order.Status == 5" severity="success" value="Fulfilled" [rounded]="true"></p-tag>
                                <p-tag *ngIf="order.Status == 2" severity="info" value="Awaiting Shipment" [rounded]="true"></p-tag>
                                <p-tag *ngIf="order.Status == 3" severity="warning" value="Shipped" [rounded]="true"></p-tag>
                                <p-tag *ngIf="order.Status == 6" severity="danger" value="Cancelled" [rounded]="true"></p-tag>
                            </td>
                        </tr>
                    </table>
                </div>
            </p-panel>
        </div>


    </div> -->

</div>

<p-dialog header="ADD NEW ADDRESS" [(visible)]="displayAddAddressModal" [modal]="true" [breakpoints]="{'991px': '75vw'}" [style]="{width: '30vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <app-create-address [UserId]="customer?.Id" (newAddressEvent)="reloadCustomerData($event)"></app-create-address>
    <!-- <p class="p-m-0"></p> -->
    <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-check"  label="Yes" class="p-button-text"></p-button>
        <p-button icon="pi pi-times"  label="No"></p-button>
    </ng-template> -->
</p-dialog>
